doctype html
head
  meta(charset='UTF-8')
  title
    | Assure Studios church SEO, and web design for churches call us at 972-880-4218
    | for a free consultation.&quot;&quot;
  meta(name='viewport' content='width=device-width')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css' integrity='sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I' crossorigin='anonymous')
  link(rel='stylesheet' type='text/css' href='./css/main.css')
  link(rel='stylesheet' href='https://use.typekit.net/qyr4iik.css')
  link(rel='icon' type='image/png' href='images/favicon.png')
body
 #header
  nav.navbar.navbar-expand-xl.navbar-light
    .container-fluid
      a.navbar-brand(href='#' title='Dallas Missionary Church')
        img(src='./img/logo.svg')
        span
          | Dallas
          | Missionary Church 
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
         ul.navbar-nav
          li.nav-link
            a.link(title='Home' aria-current='page' href='#') home
          li.nav-link
            a.link(href='#' title='About us') about
          li.nav-link
            a.link(href='#' title=' We have 5 ways to give') giving
          li.nav-link
            a.link(href='#' title=' Our charitable minsitries') ministries
          li.nav-link
            a.link(href='#' title=' Contact Us') contact
         .social
          a(href="#")
            svg(xmlns='http://www.w3.org/2000/svg' width='41.481' height='41.481' viewbox='0 0 41.481 41.481')
             g#Group_25(data-name='Group 25' transform='translate(-1273.552 -3223.895)')
              circle#Ellipse_1(data-name='Ellipse 1' cx='20.241' cy='20.241' r='20.241' transform='translate(1274.052 3224.395)' fill='#fff' stroke='#707070' stroke-width='1')
              path#twitter-4-icon(d='M1329.664,3273.082a11.332,11.332,0,0,1-17.434,10.062,8.011,8.011,0,0,0,5.9-1.649,3.988,3.988,0,0,1-3.723-2.768,3.977,3.977,0,0,0,1.8-.068,3.99,3.99,0,0,1-3.2-3.958,3.972,3.972,0,0,0,1.8.5,3.99,3.99,0,0,1-1.233-5.32,11.315,11.315,0,0,0,8.214,4.163,3.988,3.988,0,0,1,6.791-3.634,7.97,7.97,0,0,0,2.53-.967,4,4,0,0,1-1.752,2.206,7.994,7.994,0,0,0,2.288-.628A8.085,8.085,0,0,1,1329.664,3273.082Z' transform='translate(-27.598 -32.472)' fill='#2d2d37')
          a(href="#")
            svg(xmlns='http://www.w3.org/2000/svg' width='40.732' height='40.732' viewbox='0 0 40.732 40.732')
             g#Group_28(data-name='Group 28' transform='translate(-474.918 -3024.275)')
              path#Path_6(data-name='Path 6' d='M515.15,3044.641a19.868,19.868,0,0,1-39.355,3.871,19.229,19.229,0,0,1-.377-3.871,19.866,19.866,0,0,1,39.732,0Z' transform='translate(0)' fill='#fff' stroke='#707070' stroke-width='1')
              g#Group_27(data-name='Group 27' transform='translate(484.689 3034.046)')
               path#Path_7(data-name='Path 7' d='M535.218,3079.1a5.477,5.477,0,1,0,5.477,5.476A5.483,5.483,0,0,0,535.218,3079.1Zm0,9.014a3.537,3.537,0,1,1,3.537-3.537A3.541,3.541,0,0,1,535.218,3088.112Z' transform='translate(-524.623 -3073.979)' fill='#2d2d37')
               path#Path_8(data-name='Path 8' d='M568.194,3073.72a1.278,1.278,0,1,0,1.277,1.278A1.278,1.278,0,0,0,568.194,3073.72Z' transform='translate(-551.951 -3070.026)' fill='#2d2d37')
               path#Path_9(data-name='Path 9' d='M525.556,3059.774H516.47a6.06,6.06,0,0,0-6.052,6.053v9.085a6.059,6.059,0,0,0,6.052,6.052h9.086a6.059,6.059,0,0,0,6.052-6.052v-9.085A6.059,6.059,0,0,0,525.556,3059.774Zm4.112,15.138a4.118,4.118,0,0,1-4.112,4.113H516.47a4.118,4.118,0,0,1-4.112-4.113v-9.085a4.117,4.117,0,0,1,4.112-4.113h9.086a4.117,4.117,0,0,1,4.112,4.113Z' transform='translate(-510.418 -3059.774)' fill='#2d2d37')
          a(href="#")
           svg(xmlns='http://www.w3.org/2000/svg' width='41.06' height='41.06' viewbox='0 0 41.06 41.06')
            g#Group_26(data-name='Group 26' transform='translate(-674.918 -2824.275)')
             path#Path_4(data-name='Path 4' d='M715.478,2844.8a20.03,20.03,0,1,1-20.03-20.03A20.03,20.03,0,0,1,715.478,2844.8Z' transform='translate(0)' fill='#fff' stroke='#707070' stroke-width='1')
             path#Path_5(data-name='Path 5' d='M735.362,2857.444H738.2v-4.236h-4.018c-2.315,0-5.328,1.485-5.328,5.809v3.363h-3.844v4.389h3.844v11.421h4.586v-11.421h3.821l.633-4.389h-4.455v-2.8C733.441,2858.143,734.139,2857.444,735.362,2857.444Z' transform='translate(-36.348 -20.84)' fill='#2d2d37')




  
 .banner
    .banner-img-
      img(src='img/BANNER.jpg')
    .banner-content.container-fluid
      .row.align-items-center
        .banner-header.col-xxl-6.col-lg-5 Your Invited!
        .banner-intro-text.col-xxl-6.col-lg-7
          p
            | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
            | eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
            | voluptua. At vero.
          button.banner-btn.btn.btn-dark kids web site
          button.banner-btn.btn.btn-dark new covid rules
 .wrapper
  .section.plan-your-visted
   .container-fluid
    .row.gx-0.flex-wrap-reverse
     .content-section.col-xl-6
      h2 plan your visit
      p
       | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
       | eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
       | voluptua. At vero.
      button.btn.blue-btn plan your visit
     .img-section.col-xl-6
      img(src='./img/plan_your_visit@2x.png')
  .section.next-steps
   .container-fluid
    .row.gx-0
     .img-section.col-xl-6
       img(src='./img/Group Of Young People Reading Bible Together@2x.png')
     .content-section.col-xl-6
      h2 next steps
      p
        | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        | eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        | voluptua. At vero.
      button.btn.outline-btn next steps
  .section.upcoming-events
   .container-fluid
     h2 upcoming events
     .row 
      .childrens-night.col-xl-4.sub-section
       img(src='img/kids@2x.png')
       h3 children&apos;s night
       .sub-title Every Wednesday 7PM to 8PM
       p
        | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        | eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        | voluptua. At vero.
       button.btn.blue-btn.mt-3 plan to attend
      .marriage-night.col-xl-4.sub-section
       img(src='img/marraige-night@2x.png')
       h3 Marriage Night
       .sub-title Every Wednesday 7PM to 8PM
       p
        | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        | eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        | voluptua. At vero.
       button.blue-btn.btn.mt-3 plan to attend
      .bible-study.col-xl-4.sub-section
       img(src='img/bible-study@2x.png')
       h3 Bible Study
       .sub-title Every Wednesday 7PM to 8PM
       p
        | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        | eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        | voluptua. At vero.
       button.sub-section-btn.btn.blue-btn.mt-3 plan to attend
  .section.charitable-events
        .container-fluid
          h2 charitable events
          .row
            .sub-section.col-xl-6
              img(src='img/toy-drive@2x.png')
              .img-frame
                h3 toys for kids
                p
                  | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                  | eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                  | voluptua. At vero.
                a(href='#') Learn More
            .sub-section.col-xl-6
              img(src='img/food-drive@2x.png')
              .img-frame
                h3 give to our troops
                p
                  | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                  | eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                  | voluptua. At vero.
                a(href='#') Learn More
  .container-fluid.sermon-section
          .row.video-container.justify
            .video.col-xl-7
              video(src='videos/dont_be_afraid.mp4' controls='')
            .video-content.col-xl-5
              h2.latest-sermon Latest Sermon
              h3.title Dont Be Afraid.
              .sub-title November 8 2020
              .video-info
                | Lorem ipsum dolor sit amet, consetetur sadipscing
                | elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                | aliquyam erat, sed diam voluptua. At vero.
              .sub-links-container
              a.sublinks(href='http://' target='_blank' rel='noopener noreferrer') espanol
              a.sublinks(href='http://' target='_blank' rel='noopener noreferrer') Download
 footer.footer.container-fluid
       .row.justify-content-between
        .footer-container.contact.col-xl-2
          h4 contact:
          ul
            li 4090 Carolyns Circle
            li Dallas,Texas,75202
        .footer-container.phone.col-xl-2
          h4 phone:
          ul
            li  tel 214-761-5067
            li  fax 214-761-5068
        .footer-container.social-links.col-xl-2
          h4 follow us
          .d-flex
            div
              img(src='./img/Icon awesome-facebook-square.svg')
            div
              img(src='./img/Icon awesome-instagram.svg')
            div
              img(src='./img/Icon awesome-linkedin.svg')
            div
              img(src='./img/Icon awesome-twitter-square.svg')
        .footer-container.legal-stuff.col-xl-2
          h4 legal stuff:
          a.footer-links(href='#') terms and conditions
          a.footer-links(href='#') privacy policy
        .footer-container.other-stuff.col-xl-2
          h4 Other Stuff:
          a.footer-links(href='#') statement of faith
          a.footer-links(href='#') faq
        .footer-container.copy-write.col-xl-12.mt-5
          p Copyright &copy; 2021 All Rights Reserved.
 a#backToTop.backToTop(title='Go back to the top')
  svg(xmlns='http://www.w3.org/2000/svg' fill='#fff' width='45' height='45' viewbox='0 0 45 45')
    path(d='M0 12c0 6.627 5.373 12 12 12s12-5.373 12-12-5.373-12-12-12-12 5.373-12 12zm18-1h-4v7h-4v-7h-4l6-6 6 6z')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
script(src='./js/main.js')
